<div class="page-container">
  <mat-card>
      <p>I am <b>Vannaravuth Yo</b>, you just call me <b>Ravuthz</b>. I'm a Cambodian Senior Web Developer. Nowaday I am build website with Laravel, Django, Spring Boot and Vaadin frameworks.</p>
      <br/>
      <p>What's framework I can use?</p>
      
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            PHP frameworks:
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item> Laravel </mat-list-item>
          <mat-list-item> Phalcon </mat-list-item>
          <mat-list-item> CodeIgniter </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ruby frameworks:
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item> Ruby On Rails </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Python frameworks:
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item> Django </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Java frameworks:
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item> Vaadin </mat-list-item>
          <mat-list-item> Spring Boot </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Web frontend:
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item> HTML, CSS, JS </mat-list-item>
          <mat-list-item> JQuery, VueJs, ReactJs, Angular </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      
      <p>I feel free to share what I learnt. How about you???</p>
  </mat-card>
</div>
